/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 feb 2024, 15:26:15
    Author     : jkenn
*/
@import url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.es%2Fpin%2F575827502341275218%2F&psig=AOvVaw3MHUs2uQVwWx2pL-QkWqcf&ust=1707337412070000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCODx-tHFl4QDFQAAAAAdAAAAABAF');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;    
}
header.navbar{
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar .logo {
color: white;
font-weight: 600;
font-size: 2.1rem;
text-decoration: none;
}
.navbar .logo span {
color:rgb(226, 224, 224);
}
.navbar .menu {
display: flex;
list-style: none;
gap: 35px;
}
.navbar a{
color:white;
text-decoration: none;
transition: 0.2s ease;
}
.navbar a:hover{
color: silver;
}
.section {
height: 100vh;
background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3)), url("background.jpg");
background-position: center;
background-size: cover;
display: flex;
align-items: center;
padding: 0 20px;
}
.section .content {
max-width: 1200px;
margin: 0 auto;
width: 100%;
color: White;
}
.section .content h2 {
font-size: 3rem;
max-width: 600px;
line-height: 70px;
}

.section .content p{
font-weight: 300;
max-width: 600px;
margin-top: 15px;
}
.section .content button {
background: white;
padding: 12px 30px;
border: none;
font-size: 1rem;
border-radius: 6px;
margin-top: 38px;
cursor: pointer;
font-weight: 500;
transition: 0.2s ease;
}
section .content button:hover{
color: white;
background: silver;
}
#tombol-tutup-menu{
position: absolute;
right: 20px;
top: 20px;
cursor: pointer;
display: none;
}
#tombol-menu{
color: white;
cursor: pointer;
display: none;
}
@media (max-width: 768px) {
header {
padding: 10px;
}
header.show-mobile-menu::before{
content: "";
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
backdrop-filter: blur(5px);
}
.navbar .logo {
font-size: 1.7rem;
}
#tombol-menu,
#tombol-tutup-menu {
display: block;
}
.navbar .menu {
position: fixed;
top: 0;
left: -250px;
width: 250px;
height: 100vh;
background: White;
flex-direction: column;
padding: 70px 40px 0;
transition: left 0.2s ease;
}
header.show-mobile-menu .navbar .menu {
left: 0;
}
.navbar a {
    color:black;
}
.section .content{
    text-align: center;
}
.section .content :is(h2, p) {
max-width: 100%;
}
.section .content h2 {
font-size: 2.3rem;
line-height: 60px;
}
section .content button {
padding: 9px 18px;
}
}
